<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <%= @header_partial %>

  <h1>Dashboard</h1>

  <h2>Books</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <tr>
        <td><%= book['id'] %></td>
        <td><%= book['name'] %></td>
        <td><%= book['author'] %></td>
      </tr>
    <% end %>
  </table>

  <h2>Users</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user['id'] %></td>
        <td><%= user['first_name'] %></td>
        <td><%= user['last_name'] %></td>
        <td><%= user['email'] %></td>
        <td><%= user['admin'] %></td>
      </tr>
    <% end %>
  </table>

</body>
</html>
