<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>

  <%= @header_partial %>

  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Delete</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user['id'] %></td>
        <td><%= user['first_name'] %></td>
        <td><%= user['last_name'] %></td>
        <td><%= user['email'] %></td>
        <td><%= user['admin'] %></td>
        <td>
          <form action="/admin/users/delete" method="post">
            <input type="hidden" name="user_id" value="<%= user['id'] %>">
            <input type="submit" value="X">
          </form>
        </td>
      </tr>
    <% end %>
  </table>

  <a href="/admin/users/new">Add new user</a>
  
</body>
</html>
